<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <DockerPublish>true</DockerPublish>
    <ResourceId>/subscriptions/97d4c9a5-930c-4af1-8df7-d76adf80095f/resourcegroups/MyMediaVerse20240111122408ResourceGroup/providers/Microsoft.ContainerRegistry/registries/MyMediaVerse</ResourceId>
    <ResourceName>MyMediaVerse</ResourceName>
    <ResourceGroup>MyMediaVerse20240111122408ResourceGroup</ResourceGroup>
    <Subscription>Azure subscription 1</Subscription>
    <RegistryUrl>https://mymediaverse.azurecr.io</RegistryUrl>
    <UserName />
    <PublishImageTag>latest</PublishImageTag>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>f686a3f6-60c5-4bdb-8df5-3fb7544244d4</ProjectGuid>
    <_TargetId>AzureContainerRegistry</_TargetId>
  </PropertyGroup>
</Project>