@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div>
    <h1 class="display-4">Welcome to the MediaVerse</h1>
    <p>MyMediaVerse is your personalized haven for curating and enjoying your favorite articles, movies, books, and shows. Explore a universe of media tailored just for you.</p>
    </div>
    <h1>Features</h1>
    <div class="homecontainer">
    
        <div class="categories">
            <h3> <a class="nav-link text-dark" asp-area="" asp-controller="Books" asp-action="Index">📚 Bookshelf</a></h3>
            <p>Unleash the bookworm in you! Create your virtual bookshelf, track your reading progress, and save your next literary adventure.</p>
        </div>
        <div class="categories">
            <h3> <a class="nav-link text-dark" asp-area="" asp-controller="Movies" asp-action="Index"> 🎬 Movie Catalogue</a></h3>
            <p>Build your own movie catalog, rate your favorites, and keep tabs on the latest releases.</p>
        </div>
        <div class="categories">
            <h3><a class="nav-link text-dark" asp-area="" asp-controller="Articles" asp-action="Index">📰 Article Repository</a></h3>
            <p>Stay informed and inspired. Save articles that resonate with you, create your reading list, and dive into a world of knowledge.</p>
        </div>
        <div class="categories">
            <h3><a class="nav-link text-dark" asp-area="" asp-controller="Articles" asp-action="Index"> 📺 Show Tracker</a></h3>
            <p>Keep track of your favorite shows, mark watched episodes, and save new series to binge.</p>
        </div>
   
    </div>

</div>
